services:
  postgres:
    image: postgres:17
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  app:
    build:
      context: ../backend
      dockerfile: Dockerfile
      args:
        - SERVER_PORT=3001
    env_file:
      - ../backend/.env
    ports:
      - "3001:3001"

volumes:
  db-data: